.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}

.catalog__link-img {
    margin-right: 10px;
    margin-top: -3px;
}
.catalog__subcatalog {
    width: 867px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all 0.3s;
}
.catalog__item:hover .catalog__subcatalog {
    opacity: 1;
    visibility: visible;
    left: 260px;
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}
